<h1>GAME TILE</h1>
<ul>
  {{#if flop}}{{#each dealer.flop as |card|}}{{card}}{{/each}}{{/if}}
  {{#if turn}}{{dealer.turn}}{{/if}}
  {{#if river}}{{dealer.river}}{{/if}}
  {{#each table.users as |user|}}
    <li>{{user.name}}
      {{#if preflop}}{{#if (eq user auth.currentUser)}} - {{#each user.holeCards as |card|}}
        {{card}}
      {{/each}}{{/if}}{{/if}}
    </li>
  {{/each}}
  <button {{action 'dealHand' table}}>Deal Hand</button>
  <button {{action 'dealFlop'}}>Deal Flop</button>
  <button {{action 'dealTurn'}}>Deal Turn</button>
  <button {{action 'dealRiver'}}>Deal River</button>
  <button {{action 'finishHand'}}>Finish Hand</button>
</ul>
