<h2 class="text-center">{{table.statusMessage}}</h2>
{{#unless auth.currentUser.seat}}
  {{#if auth.loggedIn}}
    {{#unless table.seatOneOccupied}}
      <button {{action 'joinTable' table 1}}>sit down at seat 1</button>
    {{/unless}}
    {{#unless table.seatTwoOccupied}}
      <button {{action 'joinTable' table 2}}>sit down at seat 2</button>
    {{/unless}}
  {{/if}}
{{/unless}}
<h3 class="text-center">Pot: $ {{table.mainPot}}</h3>
<div class="table">
  {{#if table.flopCards}}
    <div class="board">
      {{#if (eq table.currentStreet 'flop')}}
        {{#each table.flopCards as |card|}}<img class="community-card" src="images/cards/{{card}}.svg">{{/each}}
      {{/if}}
      {{#if (eq table.currentStreet 'turn')}}
        {{#each table.flopCards as |card|}}<img class="community-card" src="images/cards/{{card}}.svg">{{/each}}
        <img class="community-card" src="images/cards/{{table.turnCard}}.svg">
      {{/if}}
      {{#if (eq table.currentStreet 'river')}}
        {{#each table.flopCards as |card|}}<img class="community-card" src="images/cards/{{card}}.svg">{{/each}}
        <img class="community-card" src="images/cards/{{table.turnCard}}.svg">
        <img class="community-card" src="images/cards/{{table.riverCard}}.svg">
      {{/if}}
    </div>
  {{/if}}
  {{#each table.users as |user|}}
    {{#if user.seat}}
      {{player-tile user=user}}
    {{/if}}
  {{/each}}
</div>

{{player-action-tile user=auth.currentUser table=table}}
{{meta-tile table=table}}
<ul>
  <button class="btn btn-lg btn-success" {{action 'dealHand' table}}>Deal Hand</button>
  <button class="btn btn-lg btn-success" {{action 'finishHand' table}}>Finish Hand</button>
</ul>
