<div class="row jumbotron page-header">
  <div class="col-md-4 text-center">
    <h1>Heads Up Poker</h1>
  </div>
  <div class="col-md-4">
    <div class="form-container">
      {{#unless auth.loggedIn}}
        {{#if loginForm}}
          {{login-tile users=users}}
        {{else if registerForm}}
          {{register-tile users=users}}
        {{/if}}
      {{/unless}}
    </div>
  </div>
  <div class="col-md-4 text-center auth-text">
    {{#if auth.loggedIn}}
    <h4 class="logged">logged in as <span class="highlight">{{auth.currentUser.name}}</span></h4>
    <button class="btn btn-lg btn-success" {{action 'logOut'}}>logout</button>
    {{else}}
    <button class="btn btn-lg btn-success" {{action 'showLoginForm'}}>log in</button>
    <button class="btn btn-lg btn-success" {{action 'showRegisterForm'}}>register</button>
    {{/if}}
  </div>
</div>
