<ul>
  <li>active player: {{table.activePlayer}}</li>
  <li>last to act: {{table.lastToAct}}</li>
  <li>dealer: {{table.dealer}}</li>
  <li>main pot: {{table.mainPot}}</li>
  <li>amount to call: {{table.amountToCall}}</li>
  <li>users</li>
    <ul>
      {{#each table.users as |user|}}
        <li>name: {{user.name}}</li>
        <li>isActive: {{user.isActive}}</li>
        <li>handIsLive: {{user.handIsLive}}</li>
        <li>chips: {{user.chips}}</li>
      {{/each}}
    </ul>
</ul>
