{{#if user.isActive}}
  {{#unless table.allInAndCall}}
    {{#if (eq table.amountToCall 0)}}
    <button {{action 'check' table}}>Check</button>
    <button {{action 'bet' table}}>Bet</button>
    {{input value=betAmount placeholder="Bet Amount" type="number"}}
    {{else}}
    <button {{action 'callBet' table}}>Call(${{amount-to-call table.amountToCall user.currentBet}})</button>
      {{#unless (eq table.amountToCall 0)}}
        <button {{action 'raise' table}}>Raise to:</button>
        {{input value=raiseAmount placeholder="Raise Amount" type="number"}}
      {{/unless}}
      <button {{action 'fold' table}}>Fold</button>
    {{/if}}
  {{else}}
    <button {{action 'check' table}}>(Show next card)</button>
  {{/unless}}
{{/if}}
