{{#if user.isActive}}
  {{#unless table.allInAndCall}}
    {{#if (eq table.amountToCall 0)}}
      <button class="btn btn-sm btn-success" {{action 'check' table}}>Check</button>
      <button class="btn btn-sm btn-success" {{action 'bet' table}}>Bet</button>
      {{input value=betAmount placeholder="Bet Amount" type="number"}}
    {{else}}
      {{#if (eq table.amountToCall user.currentBet)}}
        <button class="btn btn-sm btn-success" {{action 'check' table}}>Check</button>
      {{else}}
        <button class="btn btn-sm btn-success" {{action 'callBet' table}}>Call(${{amount-to-call table.amountToCall user.currentBet}})</button>
      {{/if}}
      {{#unless (eq table.amountToCall 0)}}
        <button class="btn btn-sm btn-success" {{action 'raise' table}}>Raise to:</button>
        {{input value=raiseAmount placeholder="Raise Amount" type="number"}}
      {{/unless}}
      <button class="btn btn-sm btn-danger" {{action 'fold' table}}>Fold</button>
    {{/if}}
  {{else}}
    <button class="btn btn-sm btn-info" {{action 'check' table}}>(Show next card)</button>
  {{/unless}}
{{/if}}
